absl-py
accelerate
addict
aiohttp
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
async-timeout
asynctest
attrs
cachetools
certifi
cffi
charset-normalizer
click
colorama
crcmod
cryptography
cycler
datasets
dill
einops
filelock
fonttools
frozenlist
fsspec
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
importlib-metadata
jmespath
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mmdet
mmengine
mmsegmentation
model-index
multidict
multiprocess
numpy
oauthlib
opencv-python
opendatalab
openmim
openxlab
ordered-set
oss2
packaging
pandas
Pillow
pip
platformdirs
prettytable
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pycryptodome
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
scipy
setuptools
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminaltables
timm
tokenizers
tomli
tqdm
transformers
ttach
typing_extensions
urllib3
wcwidth
Werkzeug
wheel
xxhash
yapf
yarl
zipp
